.MatchedProject{
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
};

.Match-Options{
  align-content: center;
};

.unMatchButton{
  background-color: rgba(249, 103, 103, 0.645);
};

