.MatchedProject{
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
};

.Match-Options{
  align-content: center;
  margin: 20px
};

.unmatchButton{
  display: flex;
  position: relative;
  left: 30%;
}
