/* #Project-Options-Div{
  display:flex; */
  /* flex-direction: column; */
  /* position: absolute;
  width: fit-content;
  height: fit-content;
  left: 65%;
  justify-content: center;
  justify-items: center;

}
 */

.Link-Option{
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.Link-Option:hover{
  background-color: aqua;
  color: black;
}