#home-div{
  background-image: url("../Images/HomePage.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80vw;
  height: 80vh;
}

#greeter-welcome{
  display: absolute;
  font-size: 3rem;
  color: whitesmoke;
  padding: 1%;
  border: none;
  text-align: center;
}

#loading{
  display: flex;
  position: relative;
  padding: 20%;
  justify-content: left;
  align-items: center;
  font-size: xx-large;
}