#chalkboard-div{
  /* background-image: url("https://cdn.pixabay.com/photo/2016/04/19/01/00/chalkboard-1337809__340.jpg"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100vw;
  height: 80vh;  
  /* border: 2px solid purple; */
  margin-top: 10%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 30px;
}

#greeter-welcome{
  display: absolute;
  font-size: 3rem;
  color: whitesmoke;
  padding: 1%;
  border: none;
  text-align: center;
}

#loading{
  display: flex;
  position: relative;
  padding: 20%;
  justify-content: left;
  align-items: center;
  font-size: xx-large;
}