#card-container{
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
  top: 50%;
  left: 50%;
}



.main-card{
  /* position: absolute;
  top: 50%;
  left: 30%;
  transform: (-50%, -50%);*/
  margin: 20px;
  padding: 20px;
  width: 30vmin;
  aspect-ratio: 5/7;
  border-radius: 1vmin; 
  align-self: center;
  justify-self: center;
  grid-area: overlap;
  position: absolute;
  z-index: 3;
}

.Match-Button-Options{
  margin-top: 8vmin;
  display: flex;
  justify-content: space-around;
}

.MatchOption {
  margin-top: 8vmin;
  display: flex;
  justify-content: space-around;
}

.SkipButton{
  font-size: 2.5vmin;
  border: 0.4vmin solid rgb(200, 200, 200);
  border-radius: 100%;
  color: red;
  background-color: transparent;
  height: 7vmin;
  width: 7vmin;
  cursor: pointer;
}

.MatchButton{
  font-size: 2.5vmin;
  border: 0.4vmin solid rgb(200, 200, 200);
  border-radius: 100%;
  color: green;
  background-color: transparent;
  height: 7vmin;
  width: 7vmin;
  cursor: pointer;
}

/* Background- NONE USABLE matching cards. */
.CarouselItem-div-BG-1{
  /* position: absolute;
  top: 50%;
  left: 10%;
  transform: (-50%, -50%);
  margin: 20px;
  padding: 20px;
  width: 30vmin;
  aspect-ratio: 5/7;
  border-radius: 1vmin; */
  /* grid-area: overlap; */
  margin: 20px;
  padding: 20px;
  width: 30vmin;
  aspect-ratio: 5/7;
  border-radius: 1vmin; 
  align-self: left;
  justify-self: left;
  grid-area: overlap;
  position: absolute;
  z-index: 2;
  background-image: url("../Images/matchCard-bg.avif");
}

.CarouselItem-div-BG-2{
  /* position: absolute;
  top: 50%;
  right: -50%;
  transform: (-50%, -50%);
  margin: 20px;
  padding: 20px;
  width: 30vmin;
  aspect-ratio: 5/7;
  border-radius: 1vmin;
  grid-area: overlap; */
  margin: 20px;
  padding: 20px;
  width: 30vmin;
  aspect-ratio: 5/7;
  border-radius: 1vmin; 
  align-self: right;
  justify-self: right;
  grid-area: overlap;
  position: absolute;
  z-index: 1;
  background-image: url("../Images/matchCard-bg.avif");
}